{% load static %}
<footer>
    <img src="{% static 'img/logo.png' %}" alt="Logo" width="294" height="82">
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'porfolio' %}">Porfolio</a></li>
        <li><a href="{% url 'porfolio' %}">Porfolio</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'porfolio' %}">Porfolio</a></li>
        <li><a href="{% url 'porfolio' %}">Porfolio</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'porfolio' %}">Porfolio</a></li>
        <li><a href="{% url 'porfolio' %}">Porfolio</a></li>
    </ul>
    Todos los derechos reservados
</footer>